autopep8
Flask==3.0.3
gunicorn==23.0.0
Werkzeug==3.0.6
fastapi
uvicorn[standard]
sqlmodel
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
python-dotenv
flet
requests
python-dotenv
